@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

body {
	height: 100vh;
	background: rgb(255, 237, 195);
	padding: 10px;
	z-index: 100;
}

// header styling for buttons and logo

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 60px 0px 60px;
}

#nav-logo {
	height: 100px;
	width: 100px;
	padding: 5px;
	border-radius: 6px;
	background: #ee82ee;
	border: 2px solid #1c1c1c;
	box-shadow: 3px 3px 0px #1c1c1c;
	cursor: pointer;
}

#nav-logo:hover {
	transform: translate(3px);
	box-shadow: none;
	transition: 300ms ease-in-out;
}

.nav-button-container {
	list-style: none;
}

.nav-button-container li {
	display: inline-block;
	padding: 15px 30px;
	border: 1px solid #1c1c1c;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
}

.nav-button-container li:hover {
	transform: translate(-3px, -3px);
	box-shadow: 3px 3px 0px #1c1c1c;
	transition: 200ms ease-in-out;
}

.nav-button-container li:active {
	transform: translate(1px, 1px);
	box-shadow: none;
}

#register {
	background: #4ec1ff;
}

#signin {
	background: #63ff9f;
}

#signout {
	background: #ffffff;
	display: none;
}

// input container styling

.card-container {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.card {
	display: flex;
	justify-content: center;
	background: #ffffff;
	border: 1px solid #1c1c1c;
	border-radius: 6px;
	margin-bottom: 10px;
	padding: 15px;
	width: 60%;
}

.input-image-url,
#detect {
	font-size: 0.8rem;
	border: 1px solid #1c1c1c;
	border-radius: 4px;
	padding: 15px 20px;
}

.card input {
	width: 100%;
	outline: none;
	color: #1c1c1c;
}

.card input:focus {
	outline: 2px solid #ee82ee;
}

#detect {
	margin-left: 10px;
	background: #1c1c1c;
	color: white;
	cursor: pointer;
}

#detect:hover {
	transform: translate(-3px, -3px);
	background: #932a93;
	box-shadow: 3px 3px 0px #1c1c1c;
	transition: 200ms ease-in-out;
}

#detect:active {
	transform: translate(0px);
	box-shadow: none;
}

.image-wrapper {
	position: relative;
}

.image {
	width: 500px;
	height: auto;
	border-radius: 4px;
}

.box {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 0 3px #149df2 inset;
	cursor: pointer;
}

// Form styling
.register-form {
	display: none;
	justify-content: center;
	margin-top: 150px;
}

fieldset {
	width: 60%;
	padding: 20px;
	border-radius: 6px;
	background: #ffffff;
}

.form-header {
	margin-bottom: 20px;
}

.register-form input {
	margin: 5px 0px 10px 0px;
	padding: 15px 15px;
	width: 100%;
	border: 1px solid #1c1c1c;
	color: #1c1c1c;
	border-radius: 4px;
	outline: none;
}

.register-form input::placeholder {
	font-size: 0.8rem;
	color: #9a9a9a;
}

.register-form input:focus {
	outline: 2px solid #ee82ee;
}

.register-form label {
	font-size: 0.8rem;
	margin-left: 3px;
}

.input-container-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.input-container-1 div {
	display: flex;
	flex-direction: column;
	width: 50%;
}

#register-form-button {
	width: 100%;
	margin-top: 5px;
	padding: 15px 15px;
	background: #000000;
	border: 1px solid #000000;
	outline: none;
	border-radius: 4px;
	font-size: 1rem;
	color: #ffffff;
	cursor: pointer;
}

#register-form-button:hover {
	transform: translate(-3px, -3px);
	background: #4ec1ff;
	color: #1c1c1c;
	box-shadow: 3px 3px 0px #1c1c1c;
	transition: 200ms ease-in-out;
}

#register-form-button:active {
	transform: translate(0px);
	box-shadow: none;
}

.signin-form {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.signin-form input {
	margin: 5px 0px 10px 0px;
	padding: 15px 15px;
	width: 100%;
	border: 1px solid #1c1c1c;
	color: #1c1c1c;
	border-radius: 4px;
	outline: none;
}

.signin-form input::placeholder {
	font-size: 0.8rem;
	color: #9a9a9a;
}

.signin-form input:focus {
	outline: 2px solid #ee82ee;
}

.signin-form label {
	font-size: 0.8rem;
	margin-left: 3px;
}

#signin-form-button {
	width: 100%;
	margin-top: 5px;
	padding: 15px 15px;
	background: #000000;
	border: 1px solid #000000;
	border-radius: 4px;
	outline: none;
	font-size: 1rem;
	color: #ffffff;
	cursor: pointer;
}

#signin-form-button:hover {
	transform: translate(-3px, -3px);
	background: #63ff9f;
	box-shadow: 3px 3px 0px #1c1c1c;
	color: #1c1c1c;
	transition: 200ms ease-in-out;
}

#signin-form-button:active {
	transform: translate(0px);
	box-shadow: none;
}

.register-nav-button-container {
	text-align: center;
	font-size: 0.8rem;
	cursor: pointer;
}

.styling-container {
	position: relative;
	display: inline-block;
}

.register-nav-button {
	position: relative;
	z-index: 2;
}

.register-nav-button:hover {
	font-weight: 500;
	transition: 200ms ease-in-out;
}

.styling-container:hover .underline {
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	background: #4ec1ff92;
	height: 10px;
	text-align: center;
	margin-top: -5px;
	z-index: 1;
}
